<!DOCTYPE html>
<html>
<head>
  <title>My Books</title>
</head>
<body>
  <h1>My Books</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Publication Date</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(function(book) { %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.genre %></td>
          <td><%= book.publication_date %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
