<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/homepage.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous">
    </script>
    <title>Homepage</title>
</head>
<body>
    <h2>This is the Homepage</h2>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>ISBN</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach(book => { %>
            <tr>
              <td><%= book.id %></td>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <td><%= book.year %></td>
              <td><%= book.isbn %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>            
</body>